.header {
    font-size: 40px;
    color: green;
}
h1 #description-rotate {
    font-size: 22px;
}
.benefit-1 .link {
    border-bottom: 2px solid #2dbe60; 
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
    text-decoration: none;   
    color: black;
}
.benefit-2 .link{
    border-bottom: 2px solid #2dbe60; 
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;  
    text-decoration: none; 
    color: black;
}
.benefit-3 .link{
    border-bottom: 2px solid #2dbe60;  
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif; 
    text-decoration: none; 
    color: black;
}
.benefit-1 h2{
    padding-top: 150px;
}
.benefit-2 h2{
    padding-top: 150px;
}
.benefit-3 h2 {
    padding-top: 150px;
}
h2 {
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 45px;
}
h3 {
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;    
    line-height: 27px;
    }
h3 a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
h5 {
    font-family: "Gotham_SSm_3r", Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
}
.img-benefit2 {
    float:right;
}

/* rotating text */
@-webkit-keyframes rotate-text
0%
    opacity: 0

30%
    opacity: 1

50%
    opacity: 1

70%
    opacity: 1


100%
    opacity: 0

p
font-family: 'Helvetica', sans-serif

.rotate-text
-webkit-animation: rotate-text 3050ms cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite
-moz-animation: rotate-text 3050ms cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite
-o-animation: rotate-text 3050ms cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite
animation: rotate-text 3050ms cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite
.container .top-level-nav {
    color:black;
}

.containter .top-level-nav .arrow {
        display: inline-block;
    border-top: 4px solid #000;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    margin-left: 5px;
    transition: .2s transform ease-in-out;
}

.container .top-level-nav .explore.open .arrow {
    transform: rotate(-180deg);
    transition: .2s transform ease-in-out; }


@media only screen and (max-width: 991px) {
    .benefit-3 {
        padding-top: 10px;
    }
    .benefit-1 {
        text-align: center;
        align-items: center;
        float: none;
    }
    .benefit-1 img {
        align-items: center;
        float: none;
    }
    .benefit-1 h2 {
        padding-top: 10px;
    }
    .benefit-2 {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        float: none;
    }
    .benefit-2 img {
        align-items: center;
        float: none;
    }
    .benefit-2 h2 {
        padding-top: 10px;
    }
    .benefit-3 {
        text-align: center;
        align-items: center;
        float: none;
    }
    .benefit-3 img {
        align-items: center;
        float: none;
    }
    .benefit-3 h2 {
        padding-top: 10px;
    }
}