.container {
    position: relative;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .benefits1 .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .benefits1:hover .overlay1 {
    opacity: .5;
  }

  .benefits2 .overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .benefits2:hover .overlay2 {
    opacity: .5;
  }

  .benefits3 .overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .benefits3:hover .overlay3 {
    opacity: .5;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .text a {
      text-decoration: underline;
      color: white;
  }
.navbar {
    min-height: 90px;
    margin-bottom: 50px;
}
.navbar .navbar-brand img{
    max-width: 225px;
    margin-left: 35px;
    margin-right: 35px;
}
.dropdown a {
    text-decoration: none;
    color: gray;
}
.dropdown a:hover {
    color: #2dbe60;
}
.dropdown ul, li {
    padding: 10px;
}
.top-content {
    margin-top: 30px;
}
.btn.btn-secondary {
    color: #000000;
    background: #ffffff;
    border: 2;
    border-color: #B0ADAD;
    border-radius: 4px;
    padding: 18px 20px 17px;
    font-size: 16px;
    min-width: 450px;
    font-weight: bold;
}
.login {
    margin-right:-20px;
    margin-left:-20px;
}
.left-login-content {
    min-width: 220px;
}
.or-line {    
    display: flex;
    align-items: center;
    margin: 22px 0;
    max-width: 450px;
    color: #9A9C9C;
}

.horizontal-or-line {
    flex: 1 1;
    height: 1px;
    background-color: #f3f3f3;
    margin: 10px;
}

.sign-up form input {
    background-color: #eef2f3;
    max-width: 450px;
}
.sign-up p {
    max-width: 450px;
    color: #9A9C9C;
}
.sign-up a {
    text-decoration: none;
    font-weight: bold;
    color: #6A6C6C;
}
.sign-up .btn.btn-primary {
    background: #2dbe60;
    border: 0;
    border-radius: 4px;
    padding: 18px 20px 17px;
    font-size: 16px;
    min-width: 450px;

}
.left-login-content .rotating {
    min-height: 220px;
}
h1 #description-rotate {
    font-size: 60px;
    line-height: 70px;
}
.signup-google {
    display: block;
    margin-top: 26px;
    background: url(/images/google-logo.svg) no-repeat;
    background-size: 18px 18px;
    background-position: left 15px center;
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: #000;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    line-height: 20px;
    padding: 10px 40px;
    -webkit-font-smoothing: antialiased;
}
.benefits {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 70px;
}
#benefitsimg img {
    width: 300px;
}
.benefits1 {
    margin-left: -20px;
    margin-right: 20px;
}
.benefits2 {
    padding-right: 10px;
    padding-left: 10px;
}
.benefits3 {
    margin-right: -20px;
}
.benefits h2 {
    font-size: 26px;
}
.verticalLine {
    width: 1px;
    background-color: #D6D3D3;
    min-height: 200px; 
}
.benefit-1 .link {
    border-bottom: 2px solid #2dbe60; 
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
    text-decoration: none;   
    color: black;
}
.benefit-2 .link{
    border-bottom: 2px solid #2dbe60; 
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;  
    text-decoration: none; 
    color: black;
}
.benefit-3 .link{
    border-bottom: 2px solid #2dbe60;  
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif; 
    text-decoration: none; 
    color: black;
}
.benefit-1 h2{
    padding-top: 150px;
}
.benefit-2 h2{
    padding-top: 150px;
}
.benefit-3 h2 {
    padding-top: 150px;
}
h2 {
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 45px;
}
h3 {
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;    
    line-height: 27px;
    }
h3 a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
h5 {
    font-family: "Gotham_SSm_3r", Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
}
.tips img {
    width: 50%;
}

/* rotating text */
@-webkit-keyframes rotate-text
0%
    opacity: 0

30%
    opacity: 1

50%
    opacity: 1

70%
    opacity: 1


100%
    opacity: 0

p
font-family: 'Helvetica', sans-serif

.rotate-text
-webkit-animation: rotate-text 3050ms cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite
-moz-animation: rotate-text 3050ms cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite
-o-animation: rotate-text 3050ms cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite
animation: rotate-text 3050ms cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite
.container .top-level-nav {
    color:black;
}

.containter .top-level-nav .arrow {
        display: inline-block;
    border-top: 4px solid #000;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    margin-left: 5px;
    transition: .2s transform ease-in-out;
}

.container .top-level-nav .explore.open .arrow {
    transform: rotate(-180deg);
    transition: .2s transform ease-in-out; }


@media only screen and (max-width: 991px) {
    .verticalLine, .or-line, .google, .form-group, .form-terms {
        display: none;
    }
    .benefit-3 {
        padding-top: 10px;
    }
    .benefit-1 {
        text-align: center;
        align-items: center;
        float: none;
    }
  
    .benefit-1 h2 {
        padding-top: 10px;
    }
    .benefit-2 {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        float: none;
    }
  
    .benefit-2 h2 {
        padding-top: 10px;
    }
    .benefit-3 {
        text-align: center;
        align-items: center;
        float: none;
    }
   
    .benefit-3 h2 {
        padding-top: 10px;
    }
}
